<div class="pt-10 bg-features flex justify-center px-3">
  <div>
    <div class="sm:px-8 md:px-10 lg:px-25 xl:px-40 text-center">
      <span class="font-medium text-white"
        ><b>Disclaimer:</b> Investments in securities market are subject to
        market risks, read all the related documents carefully before investing.
        Trading and Investment involve risk. All such information is for
        assistance only and shall not be taken as the sole basis for making any
        Trading/investment decisions. The risk of loss in trading / investment
        in Securities markets including Equites, Derivatives, commodity and
        Currency can be substantial. Before Trading/ investing in the asset
        class consider your investment objectives, level of experience and risk
        appetite carefully</span
      >
    </div>
    <div class="flex justify-center pt-5">
      <div class="text-3xl px-2 sm:px-4">
        <a
          href="https://www.facebook.com/people/Mo-Ahsan-Khan/100043795833453/"
          target="_blank"
        >
          <i
            class="fa-beat-fade fa-brands rounded-full sm:px-6 sm:py-4 px-3 py-2 text-blue-600 bg-white fa-facebook-f"
          ></i>
        </a>
      </div>
      <div class="text-3xl px-2 sm:px-4">
        <a href="https://www.instagram.com/mo_ahsan_khan" target="_blank">
          <i
            class="fa-beat-fade fa-brands rounded-full sm:px-5 sm:py-4 px-3 py-2 text-pink-600 bg-white fa-instagram"
          ></i>
        </a>
      </div>
      <div class="text-3xl px-2 sm:px-4">
        <a href="https://twitter.com/MoAhsanKhan5" target="_blank">
          <i
            class="fa-beat-fade fa-brands rounded-full sm:px-4 sm:py-4 px-2 py-2 text-blue-600 bg-white fa-twitter"
          ></i>
        </a>
      </div>
      <div class="text-3xl px-2 sm:px-4">
        <a
          href="https://www.linkedin.com/in/mo-ahasan-khan-0240b5205"
          target="_blank"
        >
          <i
            class="fa-beat-fade fa-brands rounded-full sm:px-5 sm:py-4 px-3 py-2 text-blue-600 bg-white fa-linkedin-in"
          ></i>
        </a>
      </div>
      <div class="text-3xl px-2 sm:px-4">
        <button>
          <i
            class="fa-beat-fade fa-brands rounded-full sm:px-4 sm:py-4 px-2 py-2 text-red-600 bg-white fa-youtube"
          ></i>
        </button>
      </div>
    </div>
    <hr class="border-cardfeatures mt-5" />
    <p class="text-gray-500 py-5 text-center font-bold p-0">
      © 2022 TWS. All Rights Reserved.
    </p>
  </div>
</div>
