<div class="bg-white">

    <div class="py-2 bg-white sticky top-0 w-full">
        <div class="ssm:block sm:hidden">
            <div class="flex justify-center items-center pb-3">
                <span class="text-lg font-bold"><i>Trade With Smart Way</i></span>
            </div>
        </div>
        <div class="flex justify-between items-center">
            <div class="ssm:ml-6 sm:ml-10 md:ml-12 lg:ml-20 xl:ml-28">
                <img src="../../../assets/Logo.png" class="ssm:h-16 sm:h-16 md:h-20 lg:h-24 xl:h-28" alt="">
            </div>
            <div class="ssm:hidden">
                <span class="sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold"><i>Trade With Smart
                        Way</i></span>
            </div>
            <div class="">
                <div class="flex items-center ssm:mr-6 sm:mr-10 md:mr-12 lg:mr-20 xl:mr-28">
                    <img src="../../../assets/Phone.png" class="ssm:h-6 sm:h-6 xl:h-8 pr-2" alt="">
                    <span
                        class="sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold pb-1 text-slate-400">9918423716</span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <img class="w-full" src="../../../assets/Template.png" alt="">
    </div>

    <div class="py-10 bg-subscribe flex justify-center px-2">
        <div class="text-center">
            <div class="">
                <span class="sm:text-5xl text-4xl" style="font-family: 'Oswald', sans-serif; font-weight: 400;">BEST
                    TIME TO
                    SUBSCRIBE IS NOW</span>
            </div>
            <div class="pt-8">
                <span class="text-2xl">
                    Subscribe and enjoy advanced trading research software designed to help you with fast and <br> rich
                    analysis
                    of
                    the
                    market
                    through unique data analysis and automated tool to time your <br> trade with greater efficiency.
                </span>
            </div>
        </div>
    </div>

    <div class="py-10 flex justify-center px-2">
        <div class="text-center w-full sm:px-8 md:px-10 lg:px-25 xl:px-56 px-2">
            <div class="">
                <span class="sm:text-5xl text-4xl" style="font-family: 'Oswald', sans-serif; font-weight: 400;">
                    TWS TRENDFINDER SUBSCRIPTION PLANS</span>
            </div>
            <div class="pt-10">
                <table
                    class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
                    <thead class="text-white">
                        <tr
                            class="bg-teal-400 flex flex-col flex-no wrap sm:table-row text-center  rounded-l-lg sm:rounded-none mb-3 sm:mb-0">
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-features">Plans</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-fimc">Duration</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-features">Offer Price (In Rs.)</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-fimc">Savings(In Rs.)</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-features">Discount</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-fimc">Action</th>
                        </tr>
                        <tr
                            class="bg-teal-400 flex flex-col flex-no wrap sm:table-row text-center  rounded-l-lg sm:rounded-none mb-3 sm:mb-0">
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-features">Plans</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-fimc">Duration</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-features">Offer Price (In Rs.)</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-fimc">Savings(In Rs.)</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-features">Discount</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-fimc">Action</th>
                        </tr>
                        <tr
                            class="bg-teal-400 flex flex-col flex-no wrap sm:table-row text-center  rounded-l-lg sm:rounded-none mb-3 sm:mb-0">
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-features">Plans</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-fimc">Duration</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-features">Offer Price (In Rs.)</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-fimc">Savings(In Rs.)</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-features">Discount</th>
                            <th class="p-3 lg:text-3xl sm:text-2xl  text-xl bg-fimc">Action</th>
                        </tr>
                    </thead>
                    <tbody class="flex-1 sm:flex-none">
                        <tr class="flex flex-col flex-no wrap sm:table-row text-center mb-3 sm:mb-0 bg-teal-400">
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                TWSTF01
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                3
                                Months</td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                0
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                0
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                100%
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy text-sell font-bold bg-purple-600 p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                <button>
                                    Subscribe
                                </button>
                            </td>
                        </tr>
                        <tr class="flex flex-col flex-no wrap sm:table-row text-center bg-teal-400 mb-3 sm:mb-0">
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                TWSTF02
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                6
                                Months</td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                0
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                0
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                100%
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy text-sell font-bold bg-purple-600 p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                <button>
                                    Subscribe
                                </button>
                            </td>
                        </tr>
                        <tr class="flex flex-col flex-no wrap sm:table-row text-center bg-teal-400 mb-3 sm:mb-0">
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                TWSTF03
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                12
                                Months</td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                0
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                0
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                100%
                            </td>
                            <td
                                class="border-grey-light border hover:bg-buy text-sell font-bold bg-purple-600 p-3 lg:text-2xl sm:text-xl  text-lg truncate">
                                <button>
                                    Subscribe
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="pb-20 pt-10 bg-features text-white flex justify-center">
        <div class="text-center">
            <div class="">
                <span class="text-4xl sm:text-5xl" style="font-family: 'Oswald', sans-serif; font-weight: 400;">KEY
                    FEATURES OF TWS TRENDFINDER</span>
            </div>
            <div
                class="grid grid-cols-2 md:grid-cols-3 sm:gap-8 md:gap-10 gap-4 pt-8 sm:px-8 md:px-10 lg:px-25 xl:px-56  ssssm:grid-cols-1 px-4">
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Automate-Your-Analysis.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Automate Your Analysis</span>
                        </div>
                        <div class="pt-2">
                            <span class="text-xl ssm:text-lg">Customize and automate the manual technical
                                analysis</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Fast-and-Timely-Information.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Fast and Timely Information</span>
                        </div>
                        <div class="pt-2 ssm:text-lg">
                            <span class="text-xl">Get faster access to analyse data table with scanning</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Improve-Trade-Accuracy.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Improve Trade Accuracy</span>
                        </div>
                        <div class="pt-2 ssm:text-lg">
                            <span class="text-xl">Improve accuracy by algorithms, trading signal</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Real-Time-Analysis-Update.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Real-Time Analysis Update</span>
                        </div>
                        <div class="pt-2">
                            <span class="text-xl ssm:text-lg">Real-time market signals update</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Cover-Multiple-Index.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Cover Multiple Index</span>
                        </div>
                        <div class="pt-2 ssm:text-lg">
                            <span class="text-xl">Covers Nifty, Bank Nifty, Options, Bullions, Metals, Energy and
                                Agri</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Easy-Access-from-Multiple-Device.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Easy Access from Multiple Device</span>
                        </div>
                        <div class="pt-2 ssm:text-lg">
                            <span class="text-xl">Easy access through all the devices like, desktop/laptop, tablets and
                                mobiles</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="py-10 flex justify-center">
        <div class="text-center">
            <div class="">
                <span class="text-4xl sm:text-5xl" style="font-family: 'Oswald', sans-serif; font-weight: 400;">KEY
                    BENEFITS OF TWS TRENDFINDER</span>
            </div>
            <div
                class="grid grid-cols-2 md:grid-cols-3 sm:gap-8 md:gap-10 gap-4 pt-8 sm:px-8 md:px-10 lg:px-25 xl:px-56 ssssm:grid-cols-1 px-4">
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">1</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Helps in better decision making</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">2</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Visualize performance through data
                            analysis</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">3</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Boost trading confidence</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">4</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Identify trading ideas</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">5</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Helps in minimizing trading risks</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">6</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Create alerts for the future</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-10 bg-subscribe flex justify-center px-2">
        <div class="text-center sm:px-8 md:px-10 lg:px-25 xl:px-56">
            <div class="">
                <span class="text-4xl sm:text-5xl" style="font-family: 'Oswald', sans-serif; font-weight: 400;">KNOW
                    MORE ABOUT TWS TRENDFINDER</span>
            </div>
            <div class="py-4 sssm:px-2 px-8">

                <div class="pt-2 font-medium">
                    <span class="text-3xl ssm:text-xl">TWS TRENDFINDER - FINEST MARKET ANALYSIS TOOL WITH BUY & SELL
                        INDICATORS</span>
                </div>
                <br>
                <div class="pt-2 ssm:text-xl">
                    <span class="text-2xl">TWS TRENDFINDER, a unique market analysis tool which is designed by
                        professional traders to help you with fast and rich
                        analysis of the market through unique data analysis and automated tools to time your trade
                        with greater efficiency.</span>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="group">
                    <a href="https://wa.me/+919918423716" target="_blank" class='nav-link'>
                        <div class="my-3 py-3 px-2">
                            <h4
                                class='text-center lg:text-4xl sm:text-2xl sssm:text-xl text-lg  my-4 text-blue-600 group-hover:text-red-600'>
                                <b>Join Our Whatsapp Group</b>
                            </h4>
                            <img src="../../../assets/know1.jpg" class="img-fluid"
                                alt="Technical Knowledge By Mohd Ahasan Khan" />
                        </div>
                    </a>
                </div>

                <div class="group">
                    <a href="https://www.facebook.com/people/Mo-Ahsan-Khan/100043795833453/" target="_blank"
                        class='nav-link'>
                        <div class="my-3 py-3 px-2">
                            <h4
                                class='text-center lg:text-4xl sm:text-2xl sssm:text-xl text-lg  my-4 text-blue-600 group-hover:text-red-600'>
                                <b>Join Our Facebook Group</b>
                            </h4>
                            <img src="../../../assets/know2.jpg" class="img-fluid"
                                alt="Technical Knowledge By Mohd Ahasan Khan" />
                        </div>
                    </a>
                </div>
                <div class="group">
                    <a href="https://t.me/TechnicalKnowledgeByMoAhasanKhan" target="_blank" class='nav-link'>
                        <div class="my-3 py-3 px-2">
                            <h4
                                class='text-center lg:text-4xl sm:text-2xl sssm:text-xl text-lg  my-4 text-blue-600 group-hover:text-red-600'>
                                <b>Join Our Telegram Group</b>
                            </h4>
                            <img src="../../../assets/know3.jpg" class="img-fluid"
                                alt="Technical Knowledge By Mohd Ahasan Khan" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-10 bg-features flex justify-center px-3">
        <div>
            <div class="sm:px-8 md:px-10 lg:px-25 xl:px-56 text-center">
                <span class="text-xl font-medium text-white"><b>Disclaimer:</b> Investments in securities market are
                    subject
                    to
                    market risks, read all the related documents carefully
                    before investing. Trading and Investment involve risk. All such information is for assistance only
                    and
                    shall not be
                    taken as the sole basis for making any Trading/investment decisions. The risk of loss in trading /
                    investment in
                    Securities markets including Equites, Derivatives, commodity and Currency can be substantial. Before
                    Trading/ investing
                    in the asset class consider your investment objectives, level of experience and risk appetite
                    carefully</span>
            </div>
            <div class="flex justify-center pt-10">
                <div class="sm:text-5xl text-3xl px-2 sm:px-4">
                    <a href="https://www.facebook.com/people/Mo-Ahsan-Khan/100043795833453/" target="_blank">
                        <i
                            class="fa-brands rounded-full sm:px-6 sm:py-4 px-3 py-2  text-blue-600 bg-white fa-facebook-f"></i>
                    </a>
                </div>
                <div class="sm:text-5xl text-3xl px-2 sm:px-4">
                    <a href="https://www.instagram.com/mo_ahsan_khan" target="_blank">
                        <i
                            class="fa-brands rounded-full sm:px-5 sm:py-4 px-3 py-2 text-pink-600 bg-white fa-instagram"></i>
                    </a>
                </div>
                <div class="sm:text-5xl text-3xl px-2 sm:px-4">
                    <a href="https://twitter.com/MoAhsanKhan5" target="_blank">
                        <i
                            class="fa-brands rounded-full sm:px-4 sm:py-4 px-2 py-2 text-blue-600 bg-white fa-twitter"></i>
                    </a>
                </div>
                <div class="sm:text-5xl text-3xl px-2 sm:px-4">
                    <a href="https://www.linkedin.com/in/mo-ahasan-khan-0240b5205" target="_blank">
                        <i
                            class="fa-brands rounded-full sm:px-5 sm:py-4 px-3 py-2 text-blue-600 bg-white fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="sm:text-5xl text-3xl px-2 sm:px-4">
                    <button>
                        <i
                            class="fa-brands rounded-full sm:px-4 sm:py-4 px-2 py-2 text-red-600 bg-white fa-youtube"></i>
                    </button>
                </div>
            </div>
            <hr class="border-cardfeatures mt-10" />
            <p class="text-gray-500 py-5  text-center text-2xl font-bold p-0">© 2022 TWS. All Rights Reserved.
            </p>
        </div>
    </div>

</div>