<div class="bg-white pb-10">

    <div class="py-2 bg-white sticky top-0 w-full">
        <div class="ssm:block sm:hidden">
            <div class="flex justify-center items-center pb-3">
                <span class="text-lg font-bold"><i>Trade With Smart Way</i></span>
            </div>
        </div>
        <div class="flex justify-between items-center">
            <div class="ssm:ml-6 sm:ml-10 md:ml-12 lg:ml-20 xl:ml-28">
                <img src="../../../assets/Logo.png" class="ssm:h-16 sm:h-16 md:h-20 lg:h-24 xl:h-28" alt="">
            </div>
            <div class="ssm:hidden">
                <span class="sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold"><i>Trade With Smart
                        Way</i></span>
            </div>
            <div class="">
                <div class="flex items-center ssm:mr-6 sm:mr-10 md:mr-12 lg:mr-20 xl:mr-28">
                    <img src="../../../assets/Phone.png" class="ssm:h-6 sm:h-6 xl:h-8 pr-2" alt="">
                    <span
                        class="sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold pb-1 text-slate-400">9918423716</span>
                </div>
            </div>
        </div>
    </div>

    <div class="py-10 bg-subscribe flex justify-center px-2">
        <div class="text-center">
            <div class="">
                <span class="text-4xl font-bold">BEST TIME TO SUBSCRIBE IS NOW</span>
            </div>
            <div class="pt-8">
                <span class="text-2xl">
                    Subscribe and enjoy advanced trading research software designed to help you with fast and <br> rich
                    analysis
                    of
                    the
                    market
                    through unique data analysis and automated tool to time your <br> trade with greater efficiency.
                </span>
            </div>
        </div>
    </div>

    <div class="pb-20 pt-10 bg-features text-white flex justify-center">
        <div class="text-center">
            <div class="">
                <span class="text-4xl font-bold">KEY FEATURES OF TWS TRENDFINDER</span>
            </div>
            <div
                class="grid grid-cols-2 md:grid-cols-3 sm:gap-8 md:gap-10 gap-4 pt-8 sm:container ssssm:grid-cols-1 px-4">
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Automate-Your-Analysis.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Automate Your Analysis</span>
                        </div>
                        <div class="pt-2">
                            <span class="text-xl ssm:text-lg">Customize and automate the manual technical
                                analysis</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Fast-and-Timely-Information.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Fast and Timely Information</span>
                        </div>
                        <div class="pt-2 ssm:text-lg">
                            <span class="text-xl">Get faster access to analyse data table with scanning</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Improve-Trade-Accuracy.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Improve Trade Accuracy</span>
                        </div>
                        <div class="pt-2 ssm:text-lg">
                            <span class="text-xl">Improve accuracy by algorithms, trading signal</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Real-Time-Analysis-Update.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Real-Time Analysis Update</span>
                        </div>
                        <div class="pt-2">
                            <span class="text-xl ssm:text-lg">Real-time market signals update</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Cover-Multiple-Index.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Cover Multiple Index</span>
                        </div>
                        <div class="pt-2 ssm:text-lg">
                            <span class="text-xl">Covers Nifty, Bank Nifty, Options, Bullions, Metals, Energy and
                                Agri</span>
                        </div>
                    </button>
                </div>
                <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
                    <button>
                        <div class="flex justify-center items-center">
                            <div style="width: 9rem; height: 9rem">
                                <img class="rounded-full group-hover:bg-hfimc bg-fimc"
                                    src="../../../assets/Easy-Access-from-Multiple-Device.png" alt="">
                            </div>
                        </div>
                        <div class="pt-2 font-bold">
                            <span class="text-2xl ssm:text-xl">Easy Access from Multiple Device</span>
                        </div>
                        <div class="pt-2 ssm:text-lg">
                            <span class="text-xl">Easy access through all the devices like, desktop/laptop, tablets and
                                mobiles</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="py-10 flex justify-center">
        <div class="text-center">
            <div class="">
                <span class="text-4xl font-bold">KEY BENEFITS OF TWS TRENDFINDER</span>
            </div>
            <div
                class="grid grid-cols-2 md:grid-cols-3 sm:gap-8 md:gap-10 gap-4 pt-8 sm:container ssssm:grid-cols-1 px-4">
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">1</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Helps in better decision making</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">2</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Visualize performance through data
                            analysis</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">3</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Boost trading confidence</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">4</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Identify trading ideas</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">5</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Helps in minimizing trading risks</span>
                    </div>
                </div>
                <div class="flex items-center sssm:px-2 px-8">
                    <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
                        <span
                            style="width: 30%;font-size: 7rem;font-weight: 600;color: #A5AFB9;font-family: 'Oswald', sans-serif;">6</span>
                    </div>
                    <div>
                        <span class="lg:text-3xl sm:text-2xl ssm:text-xl">Create alerts for the future</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>