<div *ngIf="TGNL; else elseTemplate">
    <div class="flex justify-center mt-10 ">
        <h1 class="py-3 pl-10 text-center bg-cyan-500 text-white text-lg font-bold"> TGNL DATA</h1>
        <h1 class="pl-4 pr-10 py-3 text-center bg-cyan-500 text-white text-lg font-bold">
            {{TGNL.TopGainers[0].Date}}</h1>
    </div>
    <div class="mt-10 mx-2 flex justify-center" *ngIf="TGNL.TopGainers.length!==0; else elseTemplate1">
        <div class="overflow-x-auto">
            <div class="flex justify-between items-center space-x-5 lg:space-x-20 sm:space-x-10 xl:space-x-40">
                <table>
                    <thead class="text-white text-lg font-bold text-center">
                        <tr>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-700 text-buy" colspan="14">Today Top
                                Gainers Stocks
                            </th>
                        </tr>
                        <tr>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Symbol</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Open</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">High</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Low
                            </th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">CMP</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Volume</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Change</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">P% Change</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" colspan="2">MostActives</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" colspan="2">Stock Type</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Go To Chart</th>
                        </tr>
                        <tr>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500">isMostActive</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500">ActiveType</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500">isFNO</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500">isNifty50</th>
                        </tr>
                    </thead>
                    <tbody class="font-bold text-base text-center">
                        <tr *ngFor="let TopGainers of TGNL.TopGainers">
                            <td class="px-6 py-3  border-4 border-black bg-sky-600">{{TopGainers.symbol}}</td>
                            <td class="px-6 py-3 bg-oi border-4 border-black">{{TopGainers.open}}</td>
                            <td class="px-6 py-3 bg-yellow-500 border-4 border-black">{{TopGainers.dayHigh}}</td>
                            <td class="px-6 py-3 bg-lprc border-4 border-black">{{TopGainers.lastPrice}}</td>
                            <td class="px-6 py-3 bg-purple-500 border-4 border-black">{{TopGainers.dayLow}}</td>
                            <td class="px-6 py-3 bg-volume border-4 border-black">{{TopGainers.totalTradedVolume}}</td>
                            <td class="px-6 py-3 bg-lime-400 border-4 border-black">{{TopGainers.change}}</td>
                            <td class="px-6 py-3 bg-lime-700 border-4 border-black">{{TopGainers.pChange}}</td>
                            <td class="px-6 py-3  border-4 border-black"
                                [ngClass]="{'bg-buy': CheckYes(TopGainers.isMostActive),'bg-sell': CheckNo(TopGainers.isMostActive)}">
                                {{TopGainers.isMostActive}}</td>
                            <td class="px-6 py-3  border-4 border-black"
                                [ngClass]="{'bg-buy': CheckYes(TopGainers.isMostActive),'bg-sell': CheckNo(TopGainers.isMostActive)}">
                                {{TopGainers.ActiveType}}</td>
                            <td class="px-6 py-3  border-4 border-black"
                                [ngClass]="{'bg-buy': CheckYes(TopGainers.isFNO),'bg-sell': CheckNo(TopGainers.isFNO)}">
                                {{TopGainers.isFNO}}</td>
                            <td class="px-6 py-3  border-4 border-black"
                                [ngClass]="{'bg-buy': CheckYes(TopGainers.isNifty50),'bg-sell': CheckNo(TopGainers.isNifty50)}">
                                {{TopGainers.isNifty50}}</td>
                            <td class="px-6 py-3 text-blue-700 bg-iv border-4 border-black">
                                <u><i><a href="https://in.tradingview.com/chart/?symbol=NSE%3A{{TopGainers.symbol}}"
                                            target="_blank">Link</a></i></u>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ng-template #elseTemplate1>
        <div class="my-10 mx-2 flex justify-center">
            <div class="border-4 border-black">
                <h1 class="px-6 py-3 text-lg  bg-cyan-700 text-buy">Today There Is No Any Top
                    Gainers Stocks</h1>
                <div class="flex justify-center">
                    <img src="../../../assets//EmptyBox.gif" alt="">
                </div>
            </div>
        </div>
    </ng-template>
    <div class="my-10 mx-2 flex justify-center" *ngIf="TGNL.TopLoosers.length!==0; else elseTemplate2">
        <div class="overflow-x-auto">
            <div class="flex justify-between items-center space-x-5 lg:space-x-20 sm:space-x-10 xl:space-x-40">
                <table>
                    <thead class="text-white text-lg font-bold text-center">
                        <tr>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-700 text-buy" colspan="14">Today Top
                                Loosers Stocks
                            </th>
                        </tr>
                        <tr>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Symbol</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Open</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">High</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Low
                            </th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">CMP</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Volume</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Change</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">P% Change</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" colspan="2">MostActives</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" colspan="2">Stock Type</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500" rowspan="2">Go To Chart</th>
                        </tr>
                        <tr>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500">isMostActive</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500">ActiveType</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500">isFNO</th>
                            <th class="px-6 py-3 border-4 border-black bg-cyan-500">isNifty50</th>
                        </tr>
                    </thead>
                    <tbody class="font-bold text-base text-center">
                        <tr *ngFor="let TopLoosers of TGNL.TopLoosers">
                            <td class="px-6 py-3  border-4 border-black bg-sky-600">{{TopLoosers.symbol}}</td>
                            <td class="px-6 py-3 bg-oi border-4 border-black">{{TopLoosers.open}}</td>
                            <td class="px-6 py-3 bg-yellow-500 border-4 border-black">{{TopLoosers.dayHigh}}</td>
                            <td class="px-6 py-3 bg-lprc border-4 border-black">{{TopLoosers.lastPrice}}</td>
                            <td class="px-6 py-3 bg-purple-500 border-4 border-black">{{TopLoosers.dayLow}}</td>
                            <td class="px-6 py-3 bg-volume border-4 border-black">{{TopLoosers.totalTradedVolume}}</td>
                            <td class="px-6 py-3 bg-lime-400 border-4 border-black">{{TopLoosers.change}}</td>
                            <td class="px-6 py-3 bg-lime-700 border-4 border-black">{{TopLoosers.pChange}}</td>
                            <td class="px-6 py-3  border-4 border-black"
                                [ngClass]="{'bg-buy': CheckYes(TopLoosers.isMostActive),'bg-sell': CheckNo(TopLoosers.isMostActive)}">
                                {{TopLoosers.isMostActive}}</td>
                            <td class="px-6 py-3  border-4 border-black"
                                [ngClass]="{'bg-buy': CheckYes(TopLoosers.isMostActive),'bg-sell': CheckNo(TopLoosers.isMostActive)}">
                                {{TopLoosers.ActiveType}}</td>
                            <td class="px-6 py-3  border-4 border-black"
                                [ngClass]="{'bg-buy': CheckYes(TopLoosers.isFNO),'bg-sell': CheckNo(TopLoosers.isFNO)}">
                                {{TopLoosers.isFNO}}</td>
                            <td class="px-6 py-3  border-4 border-black"
                                [ngClass]="{'bg-buy': CheckYes(TopLoosers.isNifty50),'bg-sell': CheckNo(TopLoosers.isNifty50)}">
                                {{TopLoosers.isNifty50}}</td>
                            <td class="px-6 py-3 text-blue-700 bg-iv border-4 border-black">
                                <u><i><a href="https://in.tradingview.com/chart/?symbol=NSE%3A{{TopLoosers.symbol}}"
                                            target="_blank">Link</a></i></u>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ng-template #elseTemplate2>
        <div class="my-10 mx-2 flex justify-center">
            <div class="border-4 border-black">
                <h1 class="px-6 py-3 text-lg  bg-cyan-700 text-buy">Today There Is No Any Top
                    Loosers Stocks</h1>
                <div class="flex justify-center">
                    <img src="../../../assets//EmptyBox.gif" alt="">
                </div>
            </div>
        </div>
    </ng-template>
</div>
<ng-template #elseTemplate>
    <div class="my-10 mx-2 flex justify-center">
        <img src="../../../assets/Loader.gif" alt="">
    </div>
</ng-template>