<app-poster-and-login-signup></app-poster-and-login-signup>
<div class="py-10 bg-subscribe flex justify-center px-2">
  <div class="text-center">
    <div class="">
      <span
        class="text-4xl"
        style="font-family: 'Oswald', sans-serif; font-weight: 400"
        >BEST TIME TO SUBSCRIBE IS NOW</span
      >
    </div>
    <div class="pt-8">
      <span class="text-lg">
        Subscribe and enjoy advanced trading research software designed to help
        you with fast and <br />
        rich analysis of the market through unique data analysis and automated
        tool to time your <br />
        trade with greater efficiency.
      </span>
    </div>
  </div>
</div>

<div class="py-10 flex justify-center px-2">
  <div class="text-center w-full sm:px-8 md:px-10 lg:px-25 xl:px-40 px-2">
    <div class="">
      <span
        class="text-4xl"
        style="font-family: 'Oswald', sans-serif; font-weight: 400"
      >
        TWS TRENDFINDER SUBSCRIPTION PLANS</span
      >
    </div>
    <div class="pt-10">
      <table
        class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5"
      >
        <thead class="text-white">
          <tr
            class="bg-teal-400 flex flex-col flex-no wrap sm:table-row text-center rounded-l-lg sm:rounded-none mb-3 sm:mb-0"
          >
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-features">Plans</th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-fimc">Duration</th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-features">
              Offer Price (In Rs.)
            </th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-fimc">
              Savings(In Rs.)
            </th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-features">
              Discount
            </th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-fimc">Action</th>
          </tr>
          <tr
            class="bg-teal-400 flex flex-col flex-no wrap sm:table-row text-center rounded-l-lg sm:rounded-none mb-3 sm:mb-0"
          >
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-features">Plans</th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-fimc">Duration</th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-features">
              Offer Price (In Rs.)
            </th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-fimc">
              Savings(In Rs.)
            </th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-features">
              Discount
            </th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-fimc">Action</th>
          </tr>
          <tr
            class="bg-teal-400 flex flex-col flex-no wrap sm:table-row text-center rounded-l-lg sm:rounded-none mb-3 sm:mb-0"
          >
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-features">Plans</th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-fimc">Duration</th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-features">
              Offer Price (In Rs.)
            </th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-fimc">
              Savings(In Rs.)
            </th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-features">
              Discount
            </th>
            <th class="p-3 lg:text-xl sm:text-lg text-xl bg-fimc">Action</th>
          </tr>
        </thead>
        <tbody class="flex-1 sm:flex-none">
          <tr
            class="flex flex-col flex-no wrap sm:table-row text-center mb-3 sm:mb-0 bg-teal-400"
          >
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              TWSTF01
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              3 Months
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              0
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              0
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              100%
            </td>
            <td
              class="border-grey-light border hover:bg-buy text-sell font-bold bg-purple-600 p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              <button>Subscribe</button>
            </td>
          </tr>
          <tr
            class="flex flex-col flex-no wrap sm:table-row text-center bg-teal-400 mb-3 sm:mb-0"
          >
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              TWSTF02
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              6 Months
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              0
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              0
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              100%
            </td>
            <td
              class="border-grey-light border hover:bg-buy text-sell font-bold bg-purple-600 p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              <button>Subscribe</button>
            </td>
          </tr>
          <tr
            class="flex flex-col flex-no wrap sm:table-row text-center bg-teal-400 mb-3 sm:mb-0"
          >
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              TWSTF03
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              12 Months
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              0
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              0
            </td>
            <td
              class="border-grey-light border hover:bg-buy p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              100%
            </td>
            <td
              class="border-grey-light border hover:bg-buy text-sell font-bold bg-purple-600 p-3 lg:text-xl sm:text-lg text-base truncate"
            >
              <button>Subscribe</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="pb-20 pt-10 bg-features text-white flex justify-center">
  <div class="text-center">
    <div class="">
      <span
        class="text-4xl"
        style="font-family: 'Oswald', sans-serif; font-weight: 400"
        >KEY FEATURES OF TWS TRENDFINDER</span
      >
    </div>
    <div
      class="grid grid-cols-2 md:grid-cols-3 sm:gap-8 md:gap-10 gap-4 pt-8 sm:px-8 md:px-10 lg:px-25 xl:px-40 ssssm:grid-cols-1 px-4"
    >
      <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
        <button>
          <div class="flex justify-center items-center">
            <div style="width: 9rem; height: 9rem">
              <img
                class="rounded-full group-hover:bg-hfimc bg-fimc"
                src="../../../assets/Automate-Your-Analysis.png"
                alt=""
              />
            </div>
          </div>
          <div class="pt-2 font-bold">
            <span class="text-xl ssm:text-lg">Automate Your Analysis</span>
          </div>
          <div class="pt-2">
            <span class="text-xl ssm:text-lg"
              >Customize and automate the manual technical analysis</span
            >
          </div>
        </button>
      </div>
      <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
        <button>
          <div class="flex justify-center items-center">
            <div style="width: 9rem; height: 9rem">
              <img
                class="rounded-full group-hover:bg-hfimc bg-fimc"
                src="../../../assets/Fast-and-Timely-Information.png"
                alt=""
              />
            </div>
          </div>
          <div class="pt-2 font-bold">
            <span class="text-xl ssm:text-lg">Fast and Timely Information</span>
          </div>
          <div class="pt-2 ssm:text-base">
            <span class="text-lg"
              >Get faster access to analyse data table with scanning</span
            >
          </div>
        </button>
      </div>
      <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
        <button>
          <div class="flex justify-center items-center">
            <div style="width: 9rem; height: 9rem">
              <img
                class="rounded-full group-hover:bg-hfimc bg-fimc"
                src="../../../assets/Improve-Trade-Accuracy.png"
                alt=""
              />
            </div>
          </div>
          <div class="pt-2 font-bold">
            <span class="text-xl ssm:text-lg">Improve Trade Accuracy</span>
          </div>
          <div class="pt-2 ssm:text-base">
            <span class="text-lg"
              >Improve accuracy by algorithms, trading signal</span
            >
          </div>
        </button>
      </div>
      <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
        <button>
          <div class="flex justify-center items-center">
            <div style="width: 9rem; height: 9rem">
              <img
                class="rounded-full group-hover:bg-hfimc bg-fimc"
                src="../../../assets/Real-Time-Analysis-Update.png"
                alt=""
              />
            </div>
          </div>
          <div class="pt-2 font-bold">
            <span class="text-xl ssm:text-lg">Real-Time Analysis Update</span>
          </div>
          <div class="pt-2">
            <span class="text-xl ssm:text-lg"
              >Real-time market signals update</span
            >
          </div>
        </button>
      </div>
      <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
        <button>
          <div class="flex justify-center items-center">
            <div style="width: 9rem; height: 9rem">
              <img
                class="rounded-full group-hover:bg-hfimc bg-fimc"
                src="../../../assets/Cover-Multiple-Index.png"
                alt=""
              />
            </div>
          </div>
          <div class="pt-2 font-bold">
            <span class="text-xl ssm:text-lg">Cover Multiple Index</span>
          </div>
          <div class="pt-2 ssm:text-base">
            <span class="text-lg"
              >Covers Nifty, Bank Nifty, Options, Bullions, Metals, Energy and
              Agri</span
            >
          </div>
        </button>
      </div>
      <div class="bg-cardfeatures py-4 sssm:px-2 px-8 group">
        <button>
          <div class="flex justify-center items-center">
            <div style="width: 9rem; height: 9rem">
              <img
                class="rounded-full group-hover:bg-hfimc bg-fimc"
                src="../../../assets/Easy-Access-from-Multiple-Device.png"
                alt=""
              />
            </div>
          </div>
          <div class="pt-2 font-bold">
            <span class="text-xl ssm:text-lg"
              >Easy Access from Multiple Device</span
            >
          </div>
          <div class="pt-2 ssm:text-base">
            <span class="text-lg"
              >Easy access through all the devices like, desktop/laptop, tablets
              and mobiles</span
            >
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="py-10 flex justify-center">
  <div class="text-center">
    <div class="">
      <span
        class="text-4xl"
        style="font-family: 'Oswald', sans-serif; font-weight: 400"
        >KEY BENEFITS OF TWS TRENDFINDER</span
      >
    </div>
    <div
      class="grid grid-cols-2 md:grid-cols-3 sm:gap-8 md:gap-10 gap-4 pt-8 sm:px-8 md:px-10 lg:px-25 xl:px-40 ssssm:grid-cols-1 px-4"
    >
      <div class="flex items-center sssm:px-2 px-8">
        <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
          <span
            style="
              width: 30%;
              font-size: 7rem;
              font-weight: 600;
              color: #a5afb9;
              font-family: 'Oswald', sans-serif;
            "
            >1</span
          >
        </div>
        <div>
          <span class="sm:text-2xl ssm:text-xl"
            >Helps in better decision making</span
          >
        </div>
      </div>
      <div class="flex items-center sssm:px-2 px-8">
        <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
          <span
            style="
              width: 30%;
              font-size: 7rem;
              font-weight: 600;
              color: #a5afb9;
              font-family: 'Oswald', sans-serif;
            "
            >2</span
          >
        </div>
        <div>
          <span class="sm:text-2xl ssm:text-xl"
            >Visualize performance through data analysis</span
          >
        </div>
      </div>
      <div class="flex items-center sssm:px-2 px-8">
        <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
          <span
            style="
              width: 30%;
              font-size: 7rem;
              font-weight: 600;
              color: #a5afb9;
              font-family: 'Oswald', sans-serif;
            "
            >3</span
          >
        </div>
        <div>
          <span class="sm:text-2xl ssm:text-xl">Boost trading confidence</span>
        </div>
      </div>
      <div class="flex items-center sssm:px-2 px-8">
        <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
          <span
            style="
              width: 30%;
              font-size: 7rem;
              font-weight: 600;
              color: #a5afb9;
              font-family: 'Oswald', sans-serif;
            "
            >4</span
          >
        </div>
        <div>
          <span class="sm:text-2xl ssm:text-xl">Identify trading ideas</span>
        </div>
      </div>
      <div class="flex items-center sssm:px-2 px-8">
        <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
          <span
            style="
              width: 30%;
              font-size: 7rem;
              font-weight: 600;
              color: #a5afb9;
              font-family: 'Oswald', sans-serif;
            "
            >5</span
          >
        </div>
        <div>
          <span class="sm:text-2xl ssm:text-xl"
            >Helps in minimizing trading risks</span
          >
        </div>
      </div>
      <div class="flex items-center sssm:px-2 px-8">
        <div class="md:pr-4 sm:pr-3 sssm:pr-2 ssssm:pr-1">
          <span
            style="
              width: 30%;
              font-size: 7rem;
              font-weight: 600;
              color: #a5afb9;
              font-family: 'Oswald', sans-serif;
            "
            >6</span
          >
        </div>
        <div>
          <span class="sm:text-2xl ssm:text-xl"
            >Create alerts for the future</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-10 bg-subscribe flex justify-center px-2">
  <div class="text-center sm:px-8 md:px-10 lg:px-25 xl:px-40">
    <div class="">
      <span
        class="text-4xl"
        style="font-family: 'Oswald', sans-serif; font-weight: 400"
        >KNOW MORE ABOUT TWS TRENDFINDER</span
      >
    </div>
    <div class="py-4 sssm:px-2 px-8">
      <div class="pt-2 font-medium">
        <span class="text-xl ssm:text-lg"
          >TWS TRENDFINDER - FINEST MARKET ANALYSIS TOOL WITH BUY & SELL
          INDICATORS</span
        >
      </div>
      <br />
      <div class="pt-2 ssm:text-base">
        <span class="text-lg"
          >TWS TRENDFINDER, a unique market analysis tool which is designed by
          professional traders to help you with fast and rich analysis of the
          market through unique data analysis and automated tools to time your
          trade with greater efficiency.</span
        >
      </div>
    </div>
    <div class="flex justify-between">
      <div class="group">
        <a href="https://wa.me/+919918423716" target="_blank" class="nav-link">
          <div class="my-3 py-3 px-2">
            <h4
              class="text-center sm:text-2xl sssm:text-xl text-lg my-4 text-blue-600 group-hover:text-red-600"
            >
              <b>Join Our Whatsapp Group</b>
            </h4>
            <img
              src="../../../assets/know1.jpg"
              class="img-fluid"
              alt="Technical Knowledge By Mohd Ahasan Khan"
            />
          </div>
        </a>
      </div>
      <div class="group">
        <a
          href="https://www.facebook.com/people/Mo-Ahsan-Khan/100043795833453/"
          target="_blank"
          class="nav-link"
        >
          <div class="my-3 py-3 px-2">
            <h4
              class="text-center sm:text-2xl sssm:text-xl text-lg my-4 text-blue-600 group-hover:text-red-600"
            >
              <b>Join Our Facebook Group</b>
            </h4>
            <img
              src="../../../assets/know2.jpg"
              class="img-fluid"
              alt="Technical Knowledge By Mohd Ahasan Khan"
            />
          </div>
        </a>
      </div>
      <div class="group">
        <a
          href="https://t.me/TechnicalKnowledgeByMoAhasanKhan"
          target="_blank"
          class="nav-link"
        >
          <div class="my-3 py-3 px-2">
            <h4
              class="text-center sm:text-2xl sssm:text-xl text-lg my-4 text-blue-600 group-hover:text-red-600"
            >
              <b>Join Our Telegram Group</b>
            </h4>
            <img
              src="../../../assets/know3.jpg"
              class="img-fluid"
              alt="Technical Knowledge By Mohd Ahasan Khan"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
