<div class="">
  <div *ngIf="posterT">
    <img class="w-full" src="../../../assets/Template.png" alt="" />
  </div>
  <div *ngIf="registerT">
    <section class="bg-gray-300 flex justify-center">
      <div class="sm:container px-6 h-full text-gray-800 py-3">
        <div
          class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
        >
          <div
            class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="w-full"
              alt="Sample image"
            />
          </div>
          <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
            <form #formdata1="ngForm" (ngSubmit)="Signup(formdata1.value)">
              <div
                class="flex flex-row items-center justify-center lg:justify-start"
              >
                <p class="text-lg mb-0 mr-4">Sign Up with</p>
                <button
                  type="button"
                  data-mdb-ripple="true"
                  data-mdb-ripple-color="light"
                  class="inline-block p-3 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mx-1"
                >
                  <i class="fa-brands fa-google p-1"></i>
                </button>
                <button
                  type="button"
                  data-mdb-ripple="true"
                  data-mdb-ripple-color="light"
                  class="inline-block p-3 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mx-1"
                >
                  <i class="fa-brands fa-facebook-f py-1 px-2"></i>
                </button>
                <button
                  type="button"
                  data-mdb-ripple="true"
                  data-mdb-ripple-color="light"
                  class="inline-block p-3 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mx-1"
                >
                  <i class="fa-brands fa-twitter p-1"></i>
                </button>
              </div>
              <div
                class="flex items-center my-4 before:flex-1 before:border-t before:border-white before:mt-0.5 after:flex-1 after:border-t after:border-white after:mt-0.5"
              >
                <p class="text-center font-semibold mx-4 mb-0">Or</p>
              </div>
              <form></form>
              <div class="mb-6">
                <input
                  type="text"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="nameFormControlInput2"
                  placeholder="Full Name"
                  name="Name"
                  required
                  ngModel
                />
              </div>

              <div class="mb-6">
                <input
                  type="email"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleFormControlInput2"
                  placeholder="Email address"
                  name="Email"
                  required
                  ngModel
                />
              </div>

              <div class="mb-6">
                <input
                  type="password"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleFormControlInput2"
                  placeholder="Password"
                  name="Password"
                  required
                  ngModel
                />
              </div>

              <div class="mb-6">
                <input
                  type="password"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="exampleFormControlInput2"
                  placeholder="Confirm Password"
                  name="CPassword"
                  required
                  ngModel
                />
              </div>
              <div class="flex justify-between items-center mb-6">
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                    id="exampleCheck2"
                  />
                  <label
                    class="form-check-label inline-block text-gray-800"
                    for="exampleCheck2"
                    >Remember me</label
                  >
                </div>
              </div>
              <div class="text-center lg:text-left">
                <button
                  type="submit"
                  class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                  [disabled]="formdata1.invalid"
                >
                  SignUp
                </button>
                <p
                  tabindex="0"
                  class="text-center fa-beat-fade focus:outline-none text-sm mt-4 font-medium leading-none text-white"
                >
                  Already have an account?
                  <a
                    (click)="login()"
                    class="hover:text-buy text-oic focus:outline-none focus:underline hover:underline text-sm font-medium leading-none cursor-pointer"
                  >
                    Login here</a
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="loginT">
    <section class="bg-gray-300 flex justify-center">
      <div class="sm:container px-6 py-12 h-full">
        <div
          class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800"
        >
          <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="w-full"
              alt="Phone image"
            />
          </div>
          <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
            <form #formdata2="ngForm" (ngSubmit)="Login(formdata2.value)">
              <div class="mb-6">
                <input
                  type="email"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  placeholder="Email address"
                  name="Email"
                  required
                  ngModel
                />
              </div>

              <div class="mb-6">
                <input
                  type="password"
                  class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  placeholder="Password"
                  name="Password"
                  required
                  ngModel
                />
              </div>
              <div class="flex justify-between items-center mb-6">
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                    id="exampleCheck3"
                    checked
                  />
                  <label
                    class="form-check-label inline-block text-gray-800"
                    for="exampleCheck2"
                    >Remember me</label
                  >
                </div>
                <a
                  href="#!"
                  class="text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 duration-200 transition ease-in-out"
                  >Forgot password?</a
                >
              </div>

              <button
                type="submit"
                class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-full"
                data-mdb-ripple="true"
                data-mdb-ripple-color="light"
                [disabled]="formdata2.invalid"
              >
                Login
              </button>
              <div
                class="flex items-center my-4 before:flex-1 before:border-t before:border-white before:mt-0.5 after:flex-1 after:border-t after:border-white after:mt-0.5"
              >
                <p class="text-center font-semibold mx-4 mb-0">OR</p>
              </div>
              <div class="grid space-y-4">
                <button
                  class="group h-12 px-6 border-2 border-white rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100"
                >
                  <div
                    class="relative flex items-center space-x-4 justify-center"
                  >
                    <img
                      src="https://tailus.io/sources/blocks/social/preview/images/google.svg"
                      class="absolute left-0 w-5"
                      alt="google logo"
                    />
                    <span
                      class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base"
                      >Continue with Google</span
                    >
                  </div>
                </button>
                <button
                  class="group h-12 px-6 border-2 border-white rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100"
                >
                  <div
                    class="relative flex items-center space-x-4 justify-center"
                  >
                    <img
                      src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg"
                      class="absolute left-0 w-5"
                      alt="Facebook logo"
                    />
                    <span
                      class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base"
                      >Continue with Facebook</span
                    >
                  </div>
                </button>
              </div>
            </form>
            <p
              tabindex="0"
              class="text-center fa-beat-fade focus:outline-none text-sm mt-4 font-medium leading-none text-white"
            >
              Dont have an account?
              <a
                (click)="register()"
                class="hover:text-buy text-oic focus:outline-none focus:underline hover:underline text-sm font-medium leading-none cursor-pointer"
              >
                Signup here</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="!Success" class="absolute sm:top-28 top-32 right-6 flex">
    <button
      (click)="home()"
      class="bg-oic fa-beat-fade hover:bg-buy text-white font-bold py-2 px-4 rounded-full mr-3"
    >
      <i class="fa-solid fa-house"></i>
    </button>
    <button
      (click)="login()"
      class="bg-oic fa-beat-fade hover:bg-buy text-white font-bold py-2 px-4 rounded-full"
    >
      <i class="fa-solid fa-right-to-bracket"></i>
    </button>
  </div>
</div>
